$width: 250px;
$lagoon-blue: fade-out(#62fdca, 0.5);

.math {
  height: $width/6;
  font-size: $width/6/2;
  line-height: $width/6;
  border-radius: $width/30;
  color: red + blue;
  width: $width;
  text-align: center;
  background-color: $lagoon-blue;
}

$list: (orange, purple, teal);

//Each Loop
@each $item in $list {
  .#{$item} {
    background: $item;
  }
}

// For Loop
$total: 10; //Number of .ray divs in our html
$step: 360deg / $total; //Used to compute the hue based on color-wheel


.ray {
  height: 30px;
}

@for $i from 1 through $total {
  .ray:nth-child(#{$i}) {
    background: adjust-hue(blue, $i * $step);
  }
}